
mat-form-field{
    width: 400px;
}
mat-card-title{
    text-align: center;
}
.header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	padding-left: 53px;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
}

.main-menu {
	display: inline-block;
	padding-right: 50px;
}

.main-menu li {
	display: inline-block;
	position: relative;
}
.header-right .hr-btn {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	background: #313038;
	padding: 36px 30px 36px 60px;
	line-height: 1.2;
	position: relative;
}
.c
{
	margin-top: 55px;
	margin-left: 50px;
	margin-bottom: 50px;
	width: 10%;
	height: 10%;
}
.b1
{
	margin-left: 50px;
}
table, th, td {
	border: 1px solid black;
	padding: 1%;

}
th {
	background:rgb(31, 168, 168); 
	 /* White */
	border: 2px solid #FFFFFF; /* White */
	text-align: center;
}
td {
	background: #E0FFFF; /* LightCyan */
	color: #808080; /* Gray */
	border: 2px solid #FFFFFF;
	text-align: center;
	max-width: 900px;
}
tr td {
	opacity: 0.8;

}
tr td:hover {
	opacity: 2.5;
	text-align: center;
	font-size: 120%;
}
.h
{
	margin-left: 320px;
	color: blue;
}