.a1
{
    color: purple;
    margin-left: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.f1
{
    width: 15%;
    height: 15%;
    margin-left: 36px;
    margin-top: 20px;
    margin-bottom: 26px;
}