<app-login-header></app-login-header>
<!-- App login header is header which will present through out the app after LoggedIn into the application
It will contain Welcome and Signout option -->
<img class="f1" src="assets/images/foreclose.png">
<h2 class="a1">Successfully ForeClose the account</h2>
<br/>
<!-- <h3 class="a1">Updated Account Balance of your account is: {{acc_balance}}</h3> -->
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-warning" routerLink="/login">Back to Menu</a> <br/><br/>
