<app-login-header></app-login-header>
<!-- App login header is header which will present through out the app after LoggedIn into the application
It will contain Welcome and Signout option -->
<br/>
<br/>

<div class="col-md-12 col-lg-12 col-sm-12">
  <img class="p1" src="assets/images/pay.png">

  <br/> <br/>
  <!-- <h1 class="h">You successfully paid the EMI</h1> -->
  <br/>
  <br/>
  <!-- Button with (click) having a function to call after button being clicked -->
  <button class="btn btn-success" (click)="emibalance()">Check Your Remaining Balance and Loan Balance</button>&nbsp; &nbsp;
    <a class="btn btn-primary" routerLink="/login">Back to Menu</a> <br/><br/>
<br/>
    <h2 class="a1">Your Remaining Loan Balance is: {{message}}</h2>  &nbsp;
    <br/>
    <h2 class="a1">Your Remaining Balance is: {{message1}}</h2>  &nbsp;
  
