<app-login-header></app-login-header>
<!-- App login header is header which will present through out the app after LoggedIn into the application
It will contain Welcome and Signout option -->
<img class="i1" src="assets/images/foreclose1.png">
<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<!-- button with (click) which will call the function foreclose() after being clicked -->
<button class="btn btn-success" (click)="foreclose()">Wanna ForeClose your account</button>&nbsp;&nbsp;
<!-- navigate to the login page -->
<a class="btn btn-warning" routerLink="/login">Back to Menu</a> <br/><br/>
