<app-header></app-header>
<!-- app header component is used for displaying the header to the user until it loggedIn in the application 
Header will display Home About us Why us Contact us links-->
<section class="why-section spad">
    <div class="container">
        <div class="text-center mb-5 pb-4">
            <!-- why choose us content -->
            <h2 class="h2">Why Choose us?</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <img style="border-radius: 1cm;" src="assets/images/money.jpg">
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="ib-text">
                        <!-- quick money -->
                        <h5 class="moneytext">Money in few minutes!</h5>
                        <p style="font-size: 20px;">All you need to do is fIll out our quick online<br />
                            form to get approved for a fast cash loan in
                            <br /> just 3 minutes. Minimum requirements and documentation make the process quick and
                            simple</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img class="staff" src="assets/images/staff5.jpg">
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    <div class="ib-text">

                        <!-- helpful staff -->
                        <h5 class="staffdata">Helpfull Staff with 24 hour credit</h5>
                        <p class="pstaff">Our efficient team is always at your service.
                            Once you upload the required documents, you
                            can will get immediate fast cash within few minutes !</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-item">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img class="credit" src="assets/images/credit.png">
                    <br />
                    <br />
                    <div class="ib-text" class="credittext">
                        <!-- credit card details -->
                        <h5 class="creditdata">Credit Card Details</h5>
                        <p style="font-size: 20px;">Your interest rate will be a function of your credit score on our
                            proprietary model. Our interest rates will vary from 1.50% to 2.25% per month.</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br />
            <div class="container-fluid">
                <h1 class="th1">Testimonials</h1>
                <hr class="new1">
            <div class="col-8 offset-2" style="align-content: center;">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <img class="testi" src="assets/images/testi1.jpeg" alt="Image 1" >
                        <div class="carousel-caption">
                            <p>Best Bank with low interest rate on loans</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img class="testi2" src="assets/images/testi7.jpg" alt="Image 2"  >
                        <div class="carousel-caption">
                            <p>Most trustful bank</p>
                         </div>
                    </ng-template>
                    
                    <ng-template ngbSlide>
                        <img class="testi" src="assets/images/testi4.webp" alt="Image 3">
                        <div class="carousel-caption">
                            <p> Best institution that give us the best</p>
                         </div>
                    </ng-template>
            
                </ngb-carousel>
                
            </div>
            
            <br><br><br><br>
            
            <div class="col-12" style="align-content: center;">
            </div>
            
            <br><br><br><br>
            </div>
            </div>

    </div>
</section>